{% extends 'member/base.html' %}
{% block body_block %}

{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
        <link href="https://fonts.googleapis.com/css?family=Caveat|Dancing+Script|Montserrat|Satisfy&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% block css %} {% endblock %}
<div class="container-contact100">
    <div class="wrap-contact100">
        <form class="contact100-form validate-form" role="form" action="" method="post">
            {% csrf_token %}
            <span class="contact100-form-title">Say Hello!</span>

            <div class="wrap-input100 validate-input" data-validate="Name is required">
                <label for="name"><span class="label-input100">Your Name</span></label>
                <input id="name" class="input100" type="text" name="name" placeholder="Enter your name">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                <label for="email"><span class="label-input100">Email</span></label>
                <input id="email" class="input100" type="email" name="email" placeholder="Enter your email addess">
                <span class="focus-input100"></span>
            </div>
        
            <div class="wrap-input100 validate-input" data-validate = "Message is required">
                <label for="message"><span class="label-input100">Message</span></label>
                <textarea id="message" class="input100" name="desc" placeholder="Your message here..."></textarea>
                <span class="focus-input100"></span>
            </div>

            <div class="container-contact100-form-btn">
                <div class="wrap-contact100-form-btn">
                    <div class="contact100-form-bgbtn"></div>
                    <button class="contact100-form-btn" type="submit"><span> Submit</span></button>
                </div>
            </div>
            
        </form>
    </div>
</div>


      <!-- START: Contact-->
      <section id="contact">
        <div class="row section-intro">
           <div class="col-twelve">
              <h3>Find Us Here:
              <div class="effect amiens">
                  <div class="buttons">
                    <a href="https://www.facebook.com/alfaaz.adgitm" class="facebook" title="Facebook" target="_blank"><i class="fa fa-facebook-f" aria-hidden="true"></i></a>
                    <a href="mailto:alfaaz.adgitm@gmail.com" class="mail" title="Mail" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/alfaaz_adgitm/" class="instagram" title="Instagram" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  </div>
              </div>
              </h3>
            </div> 
        </div>
      </section>
      <!-- END: Contact-->

      <div style="text-align: center;margin-top: 25px; color: black; font-family: 'Times New Roman', Times, serif;font-size: 15px;">Created by Team of Alfaaz <br> For more project<a href="mailto:avibilasgupta@gmail.com" style="color: black;font-family: 'Times New Roman', Times, serif;font-size: 15px;"> ping me</a></div>

<!--

<div class="blurred-box">
  <div class="user-login-box">
    <div class="user-name">Contact Us</div>
    <form role="form" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
  </div>
</div>-->
{% endblock %}
